@model ShauliBlog.Models.PostModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>האם אתה בטוח כי ברצונך למחוק פוסט זה?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthWebSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthWebSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VidLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VidLink)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
