@model ShauliBlog.Models.PostModel


@{
    ViewBag.Title = "Details";
}


@*
    <section>
        <article class="blogPost">
            <header>
                <h2>@Html.DisplayFor(model => model.Subject)</h2>
                <p>@Html.DisplayFor(model => model.Published)</p>
            </header>
            <div>
                <p>@Html.DisplayFor(model => model.PostText)</p>
                <img src=@Html.DisplayFor(model => model.ImgLink) alt="Flower" />
                <video controls="controls">
                    <source src=@Html.DisplayFor(model => model.VidLink) type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </div>
        </article>
    </section>
*@





<h2>Details</h2>

<div>
    <h4>PostModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthWebSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthWebSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
