@model ShauliBlog.Models.PostModel

@{
    ViewBag.Title = "Edit";
}

<h2>עריכת פוסט</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="mainContent">
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-3" })
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-3" })
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.AuthWebSite, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AuthWebSite, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.AuthWebSite, htmlAttributes: new { @class = "control-label col-md-3" })
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.PostDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PostDate, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.PostDate, htmlAttributes: new { @class = "control-label col-md-3" })
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.PostText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PostText, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.PostText, htmlAttributes: new { @class = "control-label col-md-3" })
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ImgLink, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImgLink, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.ImgLink, htmlAttributes: new { @class = "control-label col-md-3" })
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => model.VidLink, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VidLink, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.VidLink, htmlAttributes: new { @class = "control-label col-md-3" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
