@model ShauliBlog.ViewModels.PostsCommentsData

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.post.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
        <section>
            <article class="blogPost">
                <header>
                    <h2 >@Html.DisplayFor(modelItem => Model.post.Subject)</h2>
                    <p><a href="http://@Model.post.AuthWebSite">@Model.post.Author</a></p>
                    <p >@Html.DisplayFor(modelItem => Model.post.PostDate)</p>
                </header>
                    <p >@Html.DisplayFor(modelItem => Model.post.PostText)</palign="right">
                    <img  src=@Html.DisplayFor(modelItem => Model.post.ImgLink) alt="Flower" />
                    <iframe width="315" height="215" src="https://www.youtube.com/embed/@Model.post.VidLink" frameborder="0" allowfullscreen></iframe>
            </article>
        </section>

        <h3> Comments</h3>
        @foreach (var comment in Model.Comments)
        {
            <section id="comments">
                <article>
                    <header>
                        <a href="http://@comment.CommentAuthorWebSite">@comment.CommentAuthor</a>
                        <p>@comment.CommentDate</p>
                    </header>
                    <p>@comment.CommentText</p>
                </article>
                <br />
            </section>
        }
  

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Leave a comment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-5">
                @Html.EditorFor(model => Model.comment.CommentAuthor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.comment.CommentAuthor, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => Model.comment.CommentAuthor, htmlAttributes: new { @class = "col-md-3" })
        </div>

        <div class="form-group">
            <div class="col-md-5">
                @Html.EditorFor(model => Model.comment.CommentAuthorWebSite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.comment.CommentAuthorWebSite, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => Model.comment.CommentAuthorWebSite, htmlAttributes: new { @class = "col-md-3" })
        </div>

        <div class="form-group">
            <div class="col-md-5">
                @Html.TextAreaFor(model => Model.comment.CommentText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.comment.CommentText, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => Model.comment.CommentText, htmlAttributes: new { @class = "col-md-3" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

