@model ShauliBlog.ViewModels.PostsCommentsData

@{
    ViewBag.Title = "View";
}

<div id="mainContent">
    <section id="search2">
        <h2>Search a Post By</h2>
        <form action="#" method="post" id="form-search">
            <ul>
                <li>
                    <input type="date" id="date" placeholder="From -">
                </li>
                <li>
                    <input type="date" id="date" placeholder="To -">
                </li>
                <li>
                    <input type="text" id="text" placeholder="Name">
                </li>
                <li>
                    <input name="email" id="email" type="email" placeholder="Email" />
                </li>
                <li>
                    <input type="text" id="com" placeholder="Words from post commants" />
                </li>
                <li>
                    Number of comments :
                    <input type="range" name="NumOfCom" id="NumOfComId" value="3" min="0" max="10" oninput="NumOfComOutputId.value = NumOfComId.value">
                    <output name="NumOfComOutput" id="NumOfComOutputId">3</output>
                </li>
            </ul>
            <input type="submit" value="search">
        </form>
    </section>



    @foreach (var item in Model.posts)
    {
        <section>
            <article class="blogPost">
                <header>
                    <h2>@Html.DisplayFor(modelItem => item.Subject)</h2>
                    <p><a href="http://@item.AuthWebSite">@item.Author</a></p>
                    <p>@Html.DisplayFor(modelItem => item.PostDate)</p>
                </header>
                <p>@Html.DisplayFor(modelItem => item.PostText)</p>
                <img src=@Html.DisplayFor(modelItem => item.ImgLink) alt="Flower" />
                <iframe width="315" height="215" src="https://www.youtube.com/embed/@item.VidLink" frameborder="0" allowfullscreen></iframe>
            </article>
        </section>
    }
    <div>
        
    </div>
    <h3> Comments</h3>
    @foreach (var comment in Model.Comments)
    {
        <section id="comments">
            <article>
                <header>
                    <a href="http://@comment.CommentAuthorWebSite">@comment.CommentAuthor</a>
                    <p>@comment.CommentDate</p>
                </header>
                <p>@comment.CommentText</p>
            </article>
            <br />
        </section>
    }

    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Leave a comment</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => Model.comment.CommentAuthor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => Model.comment.CommentAuthor, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => Model.comment.CommentAuthor, htmlAttributes: new { @class = "col-md-3" })
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    @Html.EditorFor(model => Model.comment.CommentAuthorWebSite, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => Model.comment.CommentAuthorWebSite, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => Model.comment.CommentAuthorWebSite, htmlAttributes: new { @class = "col-md-3" })
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    @Html.TextAreaFor(model => Model.comment.CommentText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => Model.comment.CommentText, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => Model.comment.CommentText, htmlAttributes: new { @class = "col-md-3" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>