@model ShauliBlog.Models.CommentModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommentModel</h4>
    <hr />
    <dl class="dl-horizontal" >

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentAuthorWebSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentAuthorWebSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
