@model IEnumerable<ShauliBlog.Models.CommentModel>

@{
    ViewBag.Title = "Index";
}

<div id="mainContent">
    <h2>List of All Comments</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentText)

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                <a href="http://@item.CommentAuthorWebSite">@item.CommentAuthor</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
        }

    </table>
</div>